%div.container
	%div.well
		%div.form-horizontal{id: "manage_exams"}	
			%div
				%strong Exams:
			%div
				= form_tag(action: :manage) do
					%select{name: "exam"}
						= options_for_select(@exams)
					= submit_tag("Go", class: "btn btn-primary")
					OR
					= link_to "Create New Exam", new_exam_path, class: "btn btn-primary"
		%strong 
			%u Settings
		%div.form-horizontal{id: "manage_students"}	
			%div
				%strong Students:
			%div
				= link_to "Add New Student", new_student_path, class: "btn btn-primary input-large"
				OR
				= link_to "Browse Current Students", students_path, class: "btn btn-primary input-xlarge"
		%div.form-horizontal{id: "manage_subjects"}	
			%div
				%strong Subjects:
			%div
				= link_to "Add New Subject", new_subject_path, class: "btn btn-primary input-large"
				OR
				= link_to "Browse Current Subjects", subjects_path, class: "btn btn-primary input-xlarge"
		%div.form-horizontal{id: "manage_subject_combinations"}	
			%div
				%strong Subject Combinations
			%div
				= link_to "Add New Subject Combination", new_subject_combination_path(), class: "btn btn-primary input-large"
				OR
				= link_to "Browse Current Subject Combinations", subjects_path, class: "btn btn-primary input-xlarge"
