= render 'standards/standards_bar'
= link_to "PRINT", request.fullpath ,onclick: "window.print()" , id: "print", class: "btn btn-primary"
- students_info = peers()

%div.hero-unit
	- @students.each_with_index do |student, index|
		- # if using devise, use these lines
		- # if can?(current_user, :administrate) || current_user.id == student.id
		%div.container.mark-sheets{id: ("individual_mark_sheet" if (index != 0))}
			%table{border: 1, width: "100%"}
				%center
					%p 
						%i
							%u 
					%p.school-name 
						%strong Here goes the school name
					%p
						Lekhnath-2 Arghaun, Kaski
						%br
						Tel no: 
					%p
						= Exam.find(params[:exam_id]).name
					%p
						%strong 
							%u MARKSHEET
				%table{width: "100%"}
					%tr
						%td
							Name:
							= student.name
						%td
							Roll No:
							= student.roll
				%div.row
					%div.span6
						Class:
						= Standard.find(params[:standard_id]).name
				%center
					%table{border: 1, width: "100%"}
						%tr
							%th{rowspan: 2 } S.N
							%th{rowspan: 2 } Subjects
							%th{colspan: 2 } F.M
							%th{colspan: 2 } P.M
							%th{colspan: 2 } Obtained Marks
							%th{rowspan: 2 } Total 
							%th{rowspan: 2 } Class Highest
						%tr
							%th Th.
							%th Pr.
							%th Th.
							%th Pr.
							%th Th.
							%th Pr.
						- serial_number = 1
						%center
							- @subjects.each do |subject|
								- m = student.marks.where(exam_id: params[:exam_id], subject_id: subject.id)
								- if m[0]
									%tr
										%td 
											= serial_number
											- serial_number += 1
										%td 
											= subject.name
										%td
											= (subject.full_mark - subject.practical_full_mark.to_i) if subject.full_mark
										%td
											= subject.practical_full_mark 
										%td
											= subject.practical_full_mark
										%td
											= subject.practical_pass_mark 
										%td
											= m[0].grade || m[0].th_mark
										%td
											= m[0].pr_mark
										%td 
											= m[0].grade || m[0].th_mark.to_i + m[0].pr_mark.to_i
										%td
											= class_highest(subject)

									
				%table{border: 1, width: "100%", frame: "vsides"}
					%tr
						%td
							Division:
							= division(student) || "....."
						%td
							Position:
							- if pass_all_subjects(student)
								- students_info.each do |student_info|
									= student_info[:position] if ( student_info[:student_id] == student.id )
					%tr
						%td
							Percentage:
							= (number_with_precision(percent(student), precision: 1 ) if percent(student) != 0) || "....."
						%td
							Attendance:
				%table{border: 1, width: "100%"}
					%tr
						%td
							Remark: 
							= remarks(student)
							%br
							%br
				%table{border: 0, width: "100%"}
					%tr
						%td
							%br
							%br
							%br
							%br
							Issued On:
							= Date.today
						%td
							%br
							%br
							%br
							%br
							Class Teacher
						%td
							%br
							%br
							%br
							%br
							Principal