%div.container
	= render "standards/standards_bar"
	= form_for @standard do |f| 
		= f.label :name, "Name"
		= f.text_field :name
		%br
		= f.submit "Create And Add New", class: "btn btn-primary"
		= f.submit "Create", class: "btn btn-primary"
